VITE_API_BASE_URL=http://localhost:5004/api
VITE_VOTING_API_BASE_URL=http://localhost:5222/api/voting
VITE_DOCUMENT_API_BASE_URL=http://localhost:5088/api
VITE_VOTING_HUB_URL=http://localhost:5222/hubs/voting
